# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Build output
load-tester
/bin/
/dist/

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
